<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}

    <meta charset="utf-8" />
    {% if article and article.author %}
    <meta name="author" content="{{ article.author }}" />
    <meta name="copyright" content="{{ article.author }}" />
    {% elif page and page.author %}
    <meta name="author" content="{{ page.author }}" />
    <meta name="copyright" content="{{ page.author }}" />
    {% else %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="copyright" content="{{ AUTHOR }}" />
    {% endif %}

    <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
    
    {% include 'feeds.html' %}
    {% endblock head %}
    {% if SITE_DESCRIPTION %}
    <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION }}{% endblock head_description %}" />
    {% endif %}
    
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>

<body class="container">
    <div id="nav" class="row">
        <div class="six columns">
            <header id="banner" class="body">
            <h1 id="site-title"><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
            </header><!-- /#banner -->
        </div>
        <div class="six columns">
            <nav id="menu"><ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% else %}
              {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                  <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
              {% endif %}
            {% endif %}
            </ul></nav><!-- /#menu -->
        </div>
    </div><!-- /#nav -->

    {% block content %}
    {% endblock %}

    <footer id="contentinfo" class="row">
        <div class="twelve columns">
            <p id="footer-about">Copyright © 2016 - Yang Sun -      Powered by <a href="http://getpelican.com/">Pelican</a>
            </p><!-- /#footer-about -->
        </div>
    </footer><!-- /#contentinfo -->

    {% include 'analytics.html' %}
    {% include 'disqus_script.html' %}


</body>
</html>
