{% extends "base.html" %}

{% block title %}
{{ page.title }} {%if page.subtitle %} - {{ page.subtitle }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if page.summary %}
{{ page.summary|striptags }}
{% endif %}
{% endblock head_description %}

{% block content %}
    <h2>{{ page.title }}</h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

	{% if page.modified %}
		<footer class="post-info">
			<time pubdate="modified-date" datetime="{{ page.date.isoformat() }}">Updated on {{ page.locale_modified }}</time>
		</footer>
	{% endif %}
{% endblock %}
